@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form>
    <input type="text" name="UserInput" value="@Model.UserInput"/>
    <input type="submit" value="Submit Form" />
</form>

@foreach(string s in Model.AllWords)
{
    <p>@s</p>
}